/*custom by song*/
.box_normal .b_txt1{
    clear:both;
    font-size:40px;
    font-weight:600;
    color:#007219;
    padding:12px 10px 12px 15px;
}

.embed-responsive.embed-responsive-16by9-xxs {
    padding-bottom: 15.25%;
}
.embed-responsive.embed-responsive-16by9-xs {
    padding-bottom: 30.25%;
}
.embed-responsive.embed-responsive-16by9-sm {
    padding-bottom: 50.25%;
}

.spinner-border-refresh {
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.spinner-center {
    top: 50%;
    position: absolute;
    transform: translate(0px, -50%);
    left: 0px;
}
